@font-face {
    font-family: BebasNeue;
    src: url("BebasNeue Bold.ttf");
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: BebasNeue;
    background: linear-gradient(to bottom, black, grey) fixed;
    font-size: 5vw;
}

header {
    padding-top: 60px;
    color: red;
    font-size: 150px;
    text-align: center;
    font-family: BebasNeue;
}

.selectionHeader {
    padding-top: 0px;
    color: red;
    font-size: 100px;
    text-align: center;
    font-family: BebasNeue;
}

.center {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 50%;
}

.Login {
    color: red;
    padding-top: 200px;
    font-size: 80px;
    text-align: center;
}

.login-input {
    padding-top: 500px;
}

#play {
    border: none;
    padding: 0;
    background: none;
    border-radius: 50%
}

input[type=text] {
    width: 80%;
    padding: 12px 20px;
    margin: 8px 0;
    box-sizing: border-box;
    background: white
}

.Genres>* {
    text-align: center;
    margin: 20px 0px;
    display: block;
    padding-top: 200px
}

.genre {
    display: block;
    widows: 500px;
    padding: 5px;
    background: white;
    font-size: 35px;
    width: 500px;
    text-align: center;
    margin: 50px 10px;
    transition: all 0.3s ease;
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 50%;
}

.play-button-outer {
    margin: 5% auto;
    width: 10em;
    height: 10em;
    background-color: rgba(0, 0, 0, .25);
    cursor: pointer;
}

.play-button {
    margin: 0 auto;
    position: relative;
    width: 0;
    height: 0;
    border-style: solid;
    border-width: 2.5em 0 2.5em 5em;
    border-color: transparent transparent transparent red;
    opacity: .75;
}

.play-button-outer:hover {
    background-color: red;
}

.play-button-outer:hover .play-button {
    opacity: 1;
}

.genre:hover {
    background: red;
    cursor: pointer;
    color: white
}

h1 {
    color: white;
    text-align: center;
    font-size: 60px;
}

#leaderboard {
    color: white;
    font-size: 60px;
    padding-top: 20px;
    text-align: center;
    border: 10px;
    border-color: white;
    text-align: left
}

table#leaderboard-table {
    padding-top: 40px;
    font-size: 30px;
}

#leaderboard-div {
    padding-top: 60px;
}

#column-titles {
    font-size: 50px;
}

#highest-score {
    color: red;
}

#report-score {
    font-size: 50px;
    color: red;
    text-align: center;
    padding-top: 100px;
}

.time {
    display: inline-block;
    animation: change 10.6s linear 0s infinite normal, pulse 0.5s infinite alternate;
    height: 100px;
    width: 50px;
    float: left;
    padding-left: 49%;
}

.score {
    font-size: 30px;
    color: white;
    padding-top: 0
}

@keyframes change {
    from {
        color: green
    }
    to {
        color: red
    }
}

@keyframes pulse {
    0% {
        font-size: 50px;
    }
    100% {
        font-size: 100px;
    }
}

header#game-page {
    left: 49%;
    clear: left;
    text-align: center;
    font-size: 100px;
}

button.answer-choice {
    background-color: white;
    border: white;
    color: black;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 50px;
}

button.answer-choice:hover {
    background-color: black;
    border: white;
    color: white;
    ;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 50px;
}

.question-space {
    text-align: center;
    position: relative;
    clear: left;
    font-size: 60px;
}

.leaderboard {
    font-size: 50px;
}

.player-status {
    color: white;
    font-size: 40px;
}

.column {
    float: left;
    padding: 0px;
    height: 300px;
    /* Should be removed. Only for demonstration */
}

.left {
    width: 75%;
    color: white
}

.right {
    font-size: 80px;
    width: 25%;
    color: white;
    background: red;
    padding-top: 300px;
}

.screen:after {
    content: "";
    display: table;
    clear: both;
}

.bottom {
    background: red;
    padding-top: 200px;
}

button.wrong {
    background: red;
}

button.rightAns {
    background: green;
}

.options {
    background: white;
    color: black;
    border-radius: 20px;
    width: 400px;
    text-align: center;
}

.options:hover {
    border: 10px;
    border-color: black
}


/* summary  */

.congratsHeader {
    padding-top: 0px;
    color: rgb(0, 255, 13);
    font-style: italic;
    font-size: 100px;
    text-align: center;
    font-family: BebasNeue;
}

#leaderboard {
    background-color: grey;
    /* Grey */
    border: solid 10px rgb(207, 211, 200);
    color: yellowgreen;
    padding: 30px 30px;
    text-align: center-right;
    font-size: 30px;
}

#playAgain {
    background-color: grey;
    /* Grey */
    border: solid 10px rgb(207, 211, 200);
    color: yellowgreen;
    padding: 30px 30px;
    text-align: center-right;
    font-size: 30px;
}

#demo{
    font-size: 100px;
}
